<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>
<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Time zone:</dt>
    <dd><%= @user.time_zone %></dd>
  </dl>
</div>
<h5><%= @user.username %>'s activity:</h5>

<ul class="nav nav-tabs">
  <li class="<%= active_for(:posts, params[:tab]) %>">
    <%= link_to "Posts (#{@user.posts.count})", user_path(@user) %>
  </li>
  <li class="<%= active_for(:comments, params[:tab]) %>">
    <%= link_to "Comments (#{@user.comments.count})", user_path(@user, tab: :comments) %>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    <% if params[:tab].nil? %>
        <% @user.posts.each do |post| %>
            <%= render 'posts/post', post: post %>
        <% end %>
    <% elsif params[:tab] == 'comments' %>
        <% @user.comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment, link_to_associated_post: true %>
        <% end %>
    <% end %>
  </div>
</div>
