<div class="row">
  <%= render 'shared/voting', voteable: post %>
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%=post.description%></p>
    <p>
      <span class="quiet">posted by <%=link_to post.creator.username, user_path(post.creator)%></span>
      <small>at <%=fix_date post.created_at%></small>
    </p>
    <small>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      <%= link_to('edit post', edit_post_path(post), class: 'btn btn-primary') %>
    </small>
  </div>
</div>